/*global css*/
*{
    font-size: 30px;
    font-weight: 500;
}
/*external css*/
h3{
    color:cornflowerblue
}
hr{
    color:pink
}
/*element selector*/
h4{
    color:palevioletred
}
hr{
    color:teal
}
/*class selector*/
.myclass{
    color:khaki
}
hr{
    color:midnightblue
}
/*id selector*/
#myid{
    color:orchid
}
/*group selector*/
h5, p{
    color:darkcyan
}
hr{
    color:darkgreen
}